header {
  /* background-color: antiquewhite; */
  padding: 2rem 4rem;
}

#logo img {
  height: 3rem;
  cursor: pointer;
}

#title {
  text-align: center;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(#fff, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 480px) {
  #logo img {
    height: 1.7rem;
    cursor: pointer;
  }

  header {
    padding: 2rem 1rem;
  }

  #title {
    font-size: 1.5rem;
    padding: 2rem;
  }
}
